.newsTicker{
    background-color:white;
    margin-top:15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    padding-right: 7px;
    padding-left: 7px;

}
.aTicker{
    color:black;

}
.aTicker:hover{
    color:blue;
}